@import url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/stylesheets/NotoSansKR-Hestia.css);
@import "grid-system.min.css";
@import "normalize.css";

body {
  font-family: 'Noto Sans Korean', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  outline: none
}

a:hover, a:active {
  color:#fff;
  text-decoration: none;
  outline: none;
}
